chromadb==0.5.0
langchain==0.2.12
langchain_anthropic==0.1.22
langchain_community==0.2.11
langchain_core==0.2.29
langgraph==0.2.3
matplotlib==3.9.1.post1
pandas==2.2.2
pydantic==2.8.2
PyGithub==2.3.0
PyGithub==2.3.0
python-dotenv==1.0.1
slack_bolt==1.19.1
slack_sdk==3.31.0
fireworks-ai==0.15.0
langchain-fireworks==0.1.7